table 
{
  font: 12px garmond, sans-serif;
  text-align: center;
  border-collapse: collapse;
  border: 0px solid black;
  border-spacing: 5px 0px;
  vertical-align: middle;
  empty-cells: show;
  overflow: auto;
  visibility: visible;
}
th, td
{
  border: 1px solid black;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
} 
td
{
  font: 10px garmond, sans-serif;
}
th.left, td.left
{
  border-right-style: none;
}
th.mid, td.mid
{
  border-right-style: none;
  border-left-style: none;
}
th.right, td.right
{
  border-left-style: none;
}
td.title 
{
  border: 0px none black;
  font: 20px garmond, sans-serif;
  font-weight: bold;
}

td.header, td.footer 
{
  border: 0px none black;
  font: 16px garmond, sans-serif;
  font-weight: bold;
}

span.item
{
  font: 11px garmond, sans-serif;
  font-weight: bold;
}

span.redline
{
  font: 11px garmond, sans-serif;
  color: red;
  text-decoration: line-through;
}

span.msg
{
  font: 11px garmond, sans-serif;
  color: red;
}

span.blankout
{
  font: 11px garmond, sans-serif;
  color: blue;
}

